Protocol 2
# HostKey /config/host_keys/ssh_host_dsa_key
# HostKey /config/host_keys/ssh_host_ecdsa_key
HostKey /config/host_keys/ssh_host_ed25519_key
HostKey /config/host_keys/ssh_host_rsa_key

# https://unix.stackexchange.com/questions/56941/what-is-the-point-of-sshd-usedns-option
UseDNS no

# Limited access
PermitRootLogin no
PasswordAuthentication yes
PermitEmptyPasswords no

X11Forwarding no
AllowTcpForwarding yes

Subsystem sftp internal-sftp